.carrossel__titulo{
    text-transform: uppercase;
    text-align: center;
    color: var(--cor-titulo);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.6rem 0 0.8rem 0;
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: 0.8rem 0;
}