.carrossel__titulo {
    text-transform: uppercase;
    text-align: center;
    color: var(--laranja);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.6rem 0 0.8rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.8rem 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1.6rem;
    padding: 1.6rem;
}

.card__descricao,
.card__botoes {
    display: flex;
    justify-content: space-between;
}
.card__descricao{
    margin-bottom: 0.8rem;
}
.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.descricao__titulo-livro{
    font-size: 1.8rem;
    color: var(--azul);
    font-weight: 700;
    margin: 0.8rem 0;
}
.descricao__texto{
    font-size: 1.4rem;
}
.botoes {
    display: flex;
}
.botoes__item{
    margin: 0 0.8rem;
    cursor: pointer;
}
.botoes__ancora{
    background-color: var(--laranja);
    font-weight: 700;
    color: var(--branco);
    padding: 1.6rem 3.3rem;
    text-decoration: none;
}