.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}
.container__botao{
    display: none;
}
.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background: url(../img/Menu.svg) no-repeat center;
    display: inline-block;
}
.container__img {
    padding: 0.8rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* Com este valor a lista fica exatamente abaixo do cabeçalho já que ele é o unico elemento relativo. Então deste jeito é pego a altura total do cabeçalho e passado como parâmetro para o afastamento do topo, dando este efeito de estar embaixo do cabeçalho. */
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1.6rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
}