@import url("./header.css");
:root{
    --cor-de-fundo: #EBECEE;
    --branco:#FFFFFF;
    font-size: 62.5%;
}

*{
    /* box-sizing: border-box; */
}

body{
    background-color: var(--cor-de-fundo);
}