@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    font-size: 62.5%;
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul: #002F52;
    --preto: #000000;
    --cinza-claro: #858585;
    --cinza-escuro:#474646;
    --fonte-principal: "Poppins";
    --fonte-secundaria: 'Josefin Sans', sans-serif;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1.6rem;
    font-weight: 400;
}

/* HEADER */
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__titulo {
    display: none;
}

.container__botao {
    display: none;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background: url(../img/Menu.svg) no-repeat center;
    display: inline-block;
    margin: 1.6rem 2.4rem;
}

.container__img {
    padding: 0.8rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* Com este valor a lista fica exatamente abaixo do cabeçalho já que ele é o unico elemento relativo. Então deste jeito é pego a altura total do cabeçalho e passado como parâmetro para o afastamento do topo, dando este efeito de estar embaixo do cabeçalho. */
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1.6rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
}

.opcoes {
    display: none;
}

/* BANNER */
.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 4rem 3.2rem;
}

.banner__titulo {
    font-weight: 700;
    font-size: 1.8rem;
}

.banner__texto {
    font-weight: 500;
    margin: 1.6rem 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1rem 2.4rem;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    color: var(--branco);
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 1.6rem;
}

/* CARROSSEL */
.carrossel__titulo {
    text-transform: uppercase;
    text-align: center;
    color: var(--laranja);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.8rem 0 0.8rem 0;
    background-color: var(--branco);
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.8rem 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1.6rem;
    padding: 1.6rem;
}

.card__descricao,
.card__botoes {
    display: flex;
    justify-content: space-between;
}

.card__descricao {
    margin-bottom: 0.8rem;
    gap: 1.5rem;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    font-size: 1.8rem;
    color: var(--azul);
    font-weight: 700;
    margin: 0.8rem 0;
}

.descricao__texto {
    font-size: 1.4rem;
}

.botoes {
    display: flex;
}

.botoes__item {
    margin: 0 0.8rem;
    cursor: pointer;
}

.botoes__ancora {
    background-color: var(--laranja);
    font-weight: 700;
    color: var(--branco);
    padding: 1.6rem 3.3rem;
    text-decoration: none;
}

.descricao__avaliacao {
    margin-bottom: 0.8rem;
}

/* TÓPICOS */
.topicos {
    background: var(--azul-degrade);
    padding: 2.4rem;
    text-align: center;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
}

.topicos__item {
    padding: 1.6rem 2.4rem;
    background-color: var(--laranja);
}

.topicos__link {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--branco);
    text-decoration: none;
}

/* CONTATOS */
.contato {
    padding: 2.4rem;
    background-color: var(--branco);
}

.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 1.8rem;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 0.8rem 0 2.4rem;
}

.contato__email {
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    padding: 1.6rem;
    color: var(--azul);
}

.contato__email::placeholder {
    color: var(--azul);
    background: url(../img/Email.svg) no-repeat;
    background-position: 1.6rem;
    text-align: center;
}

hr {
    margin: 0;
}

/* RODAPE */
.rodape {
    background-color: var(--branco);
    padding: 2.4rem;
}
.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {

    /* HEADER */
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 3rem;
        display: inline-block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .container__titulo {
        font-weight: 400;
    }

    .opcoes {
        display: flex;
        gap: 1.6rem;
    }

    .opcoes__item {
        text-transform: uppercase;
        cursor: pointer;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__img-favoritos,
    .cabecalho__menu-hamburguer {
        display: none;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        background: none;
        -webkit-text-fill-color: var(--branco);
    }

    /* .opcoes__botao:checked~label>.opcoes__item {
        padding: 1rem;
        background-color: red;
    } */

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    /* BANNER */
    .banner__titulo{
        font-size: 3.6rem;
    }
    /* .banner__texto{
        line-height: 2.4rem;
        margin: 0.2rem 0 2.6rem 0;
    } */
    .banner__pesquisa{
        width: 50%;
    }
    .banner__pesquisa::placeholder{
        background-position: 10rem;
    }

    /* CARROSSEL */
    .carrossel__titulo{
        font-size: 2.6rem;
        padding: 5.1rem 0 1.6rem 0 ;
    }
    .swiper-pagination{
        margin: 3.2rem 0 4.8rem 0;
    }
    .swiper{
        width: 70%;
    }
    .swiper-slide img {
        width: 80%;
    }
    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }
    .card{
        width: 40%;
        margin: 6.1rem auto 4.8rem;
    }
    /* TÓPICOS */
    .topicos{
        padding: 3.2rem;
    }
    .topicos__titulo{
        font-size: 2.4rem;
        margin-bottom: 4rem
    }
    .topicos__lista{
        gap: 2.4rem;
    }
    .topicos__item {
        padding: 2.4rem 3.2rem;
    }
    .topicos__link{
        font-size: 2.4rem;
    }
    /* CONTATOS */
    .contato{
        padding: 3rem 0 5.3rem;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;                    
        justify-content: center;
        align-items: center;
        /* column-gap: 4rem; */
    }
    .contato__descricao{
        width: 376px;
    }
    .contato__titulo{
        font-size: 2.4rem;
        margin-bottom: 1.9rem;
    }
    .contato__texto{
        margin: 0;
    }
    .contato__email{
        padding: 1rem 2.4rem;
        height: 2rem;
        width: auto;
        min-width: 32rem;
        max-width: 35rem;
    }
    .contato__email::placeholder{
        font-size: 1.6rem;
        background-position: 2.4rem;
    }
    /* RODAPE */
    .rodape{
        display: flex;
        padding: 5.6rem 0 7rem 0;
        justify-content: space-around;
    }
    .rodape__titulo{
        font-size: 2.4rem;
    }
    .lista-rodape{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
    .lista-rodape>.lista-rodape__titulo{
        margin-bottom: 2.5rem;
    }
    .lista-rodape__titulo{
        font-size: 1.4rem;
        color: var(--cinza-claro);
    }
    .lista-rodape__item{
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
    .lista-rodape__link{
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--cinza-escuro);
    }
}