.topicos{
    background: var(--azul-degrade);
    padding: 2.4rem;
    text-align: center;
}
.topicos__titulo{
    font-weight: 300;
    color: var(--branco);
    text-transform: uppercase;
    margin-bottom: 3.2rem ;
}
.topicos__lista{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    flex-wrap: wrap;
}
.topicos__item{
    padding: 1.6rem 2.4rem;
    background-color: var(--laranja);
}
.topicos__link{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--branco);
    text-decoration: none;
}